<a href="https://colab.research.google.com/github/CDdohyun/ai4ml/blob/main/w3_dataframe_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# W3 Practice - Data frame

1. Create a data frame

In [1]:
import pandas as pd

In [21]:
df_prac = pd.DataFrame(
    
    {'name' : ['Dohyun','En-seok','Minji'],
     'hobby' : ['Watching movies','Playing video games','Reading books'],
     'nationality' : ['S. Korea', 'S. Korea', 'S. Korea'],
     'fav_number' : [23, 3, 13]}

)

In [22]:
df_prac

      name                hobby nationality  fav_number
0   Dohyun      Watching movies    S. Korea          23
1  En-seok  Playing video games    S. Korea           3
2    Minji        Reading books    S. Korea          13

2. Define a new index

In [23]:
df_prac_index = df_prac.index

In [24]:
df_prac_index = ['A','B','C']
df_prac.index = df_prac_index

In [25]:
df_prac

      name                hobby nationality  fav_number
A   Dohyun      Watching movies    S. Korea          23
B  En-seok  Playing video games    S. Korea           3
C    Minji        Reading books    S. Korea          13

3. Save this data frame as .csv

In [17]:
df_prac.names = 'members'

In [26]:
df_prac.to_csv('/content/drive/MyDrive/lecture_2022/AI를 위한 머신러닝/members.csv', index=False)

4. Use any kinds of mathematical function

In [28]:
df_prac.fav_number  #Series object (numeric values)

A    23
B     3
C    13
Name: fav_number, dtype: int64

In [29]:
df_prac.fav_number.mean()

13.0

In [30]:
df_prac.fav_number.sum()

39

In [31]:
df_prac.fav_number.unique()

array([23,  3, 13])

In [32]:
df_prac.fav_number.argmax()

0

In [33]:
df_prac.fav_number.idxmax()

'A'

5. Read .csv files to colab notebooks

In [34]:
cd /content/drive/MyDrive/lecture_2022/AI를 위한 머신러닝

/content/drive/MyDrive/lecture_2022/AI를 위한 머신러닝

In [35]:
df1 = pd.read_csv('members.csv')
df1

      name                hobby nationality  fav_number
0   Dohyun      Watching movies    S. Korea          23
1  En-seok  Playing video games    S. Korea           3
2    Minji        Reading books    S. Korea          13

6. Inspect a data frame

In [37]:
df1.empty

False

In [39]:
df1.shape

(3, 4)

In [40]:
df1.head()

      name                hobby nationality  fav_number
0   Dohyun      Watching movies    S. Korea          23
1  En-seok  Playing video games    S. Korea           3
2    Minji        Reading books    S. Korea          13

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         3 non-null      object
 1   hobby        3 non-null      object
 2   nationality  3 non-null      object
 3   fav_number   3 non-null      int64
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [43]:
df1.fav_number.describe()

count     3.0
mean     13.0
std      10.0
min       3.0
25%       8.0
50%      13.0
75%      18.0
max      23.0
Name: fav_number, dtype: float64