<a href="https://colab.research.google.com/github/CDdohyun/ai4ml/blob/main/w6_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# W6 - Binning, window calculation, summarizing and grouping

- Practice ch4-2 codes

In [1]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [2]:
import numpy as np
import pandas as pd

weather = pd.read_csv('data/nyc_weather_2018.csv', parse_dates=['date'])
weather.head()

        date datatype            station attributes  value
0 2018-01-01     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1 2018-01-01     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2 2018-01-01     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3 2018-01-01     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4 2018-01-01     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [4]:
fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True) #인덱스를 날짜로
fb.head()

              open    high       low   close    volume
date
2018-01-02  177.68  181.58  177.5500  181.42  18151903
2018-01-03  181.88  184.78  181.3300  184.67  16886563
2018-01-04  184.90  186.21  184.0996  184.33  13880896
2018-01-05  185.59  186.90  184.9300  186.85  13574535
2018-01-08  187.20  188.90  186.3300  188.28  17994726

In [5]:
fb.assign(    #z-score
    abs_z_score_volume=lambda x: \
        x.volume.sub(x.volume.mean()).div(x.volume.std()).abs()
).query('abs_z_score_volume > 3')

              open    high     low   close     volume  abs_z_score_volume
date
2018-03-19  177.01  177.17  170.06  172.56   88140060            3.145078
2018-03-20  167.47  170.20  161.95  168.15  129851768            5.315169
2018-03-21  164.80  173.40  163.30  169.39  106598834            4.105413
2018-03-26  160.82  161.10  149.02  160.06  126116634            5.120845
2018-07-26  174.89  180.13  173.75  176.26  169803668            7.393705

In [8]:
fb.assign(
    volume_pct_change = fb.volume.pct_change(),
    pct_change_rank = lambda x: x.volume_pct_change.abs().rank(ascending=False)  #변화량이므로 절대값 필요
).nsmallest(5, 'pct_change_rank')

,open,high,low,close,volume,volume_pct_change,pct_change_rank
date,,,,,,,
2018-01-12,178.06,181.48,177.40,179.37,77551299,7.087876,1.0
2018-03-19,177.01,177.17,170.06,172.56,88140060,2.611789,2.0
2018-07-26,174.89,180.13,173.75,176.26,169803668,1.628841,3.0
2018-09-21,166.64,167.25,162.81,162.93,45994800,1.428956,4.0
2018-03-26,160.82,161.10,149.02,160.06,126116634,1.352496,5.0

In [10]:
volume_binned = pd.cut(fb.volume, bins=3, labels=['low', 'med', 'high'])
volume_binned.head()

date
2018-01-02    low
2018-01-03    low
2018-01-04    low
2018-01-05    low
2018-01-08    low
Name: volume, dtype: category
Categories (3, object): ['low' < 'med' < 'high']

In [11]:
volume_binned.value_counts()

low     240
med       8
high      3
Name: volume, dtype: int64

In [12]:
fb[volume_binned == 'high'].sort_values('volume', ascending=False)

              open    high     low   close     volume
date
2018-07-26  174.89  180.13  173.75  176.26  169803668
2018-03-20  167.47  170.20  161.95  168.15  129851768
2018-03-26  160.82  161.10  149.02  160.06  126116634

In [15]:
volume_qbinned = pd.qcut(fb.volume, q=4, labels=['q1', 'q2', 'q3', 'q4'])
volume_qbinned.value_counts()

q1    63
q2    63
q4    63
q3    62
Name: volume, dtype: int64

In [16]:
central_park_weather = weather\
    .query('station == "GHCND:USW00094728"')\
    .pivot(index='date', columns='datatype', values='value')  #wide format으로 변형

central_park_weather.head()

datatype,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT06,WT08
date,,,,,,,,,,,,,,,
2018-01-01,3.5,0.0,0.0,0.0,-7.1,-13.8,300.0,300.0,6.7,11.2,NaN,NaN,NaN,NaN,NaN
2018-01-02,3.6,0.0,0.0,0.0,-3.2,-10.5,260.0,250.0,7.2,12.5,NaN,NaN,NaN,NaN,NaN
2018-01-03,1.4,0.0,0.0,0.0,-1.0,-8.8,260.0,270.0,6.3,9.8,NaN,NaN,NaN,NaN,NaN
2018-01-04,5.6,19.3,249.0,30.0,-1.6,-7.1,310.0,310.0,10.7,19.2,1.0,1.0,NaN,NaN,1.0
2018-01-05,5.8,0.0,0.0,180.0,-7.1,-12.7,280.0,280.0,9.4,15.7,NaN,NaN,NaN,NaN,NaN

In [19]:
oct_weather_z_scores = central_park_weather.loc['2018-10',['TMAX', 'TMIN', 'PRCP']]\
  .apply(lambda x: x.sub(x.mean()).div(x.std()))

oct_weather_z_scores.head()

datatype        TMAX      TMIN      PRCP
date
2018-10-01  1.203293  1.065152 -0.394438
2018-10-02  1.307830  1.255418  1.951865
2018-10-03  1.011643  1.065152 -0.394438
2018-10-04  1.203293  0.874887 -0.260364
2018-10-05  0.732879  0.788402 -0.394438

In [20]:
oct_weather_z_scores.describe().T

,count,mean,std,min,25%,50%,75%,max
datatype,,,,,,,,
TMAX,31.0,1.951844e-16,1.0,-1.305582,-0.870013,-0.138258,1.011643,1.604016
TMIN,31.0,-1.790682e-16,1.0,-1.339112,-0.751019,-0.474269,1.065152,1.843511
PRCP,31.0,4.655774e-17,1.0,-0.394438,-0.394438,-0.394438,-0.240253,3.936167

In [21]:
oct_weather_z_scores.query('PRCP > 3').PRCP

date
2018-10-27    3.936167
Name: PRCP, dtype: float64

In [24]:
central_park_weather.loc['2018-10'].assign(
    day3_PRCP = lambda x: x.PRCP.rolling('3D').sum()
)[['PRCP','day3_PRCP']].head().T

date       2018-10-01  2018-10-02  2018-10-03  2018-10-04  2018-10-05
datatype
PRCP              0.0        17.5         0.0         1.0         0.0
day3_PRCP         0.0        17.5        17.5        18.5         1.0

In [25]:
central_park_weather.loc['2018-10'].rolling('3D').mean().head(7).iloc[:,:6]

datatype        AWND      PRCP  SNOW  SNWD       TMAX       TMIN
date
2018-10-01  0.900000  0.000000   0.0   0.0  24.400000  17.200000
2018-10-02  0.900000  8.750000   0.0   0.0  24.700000  17.750000
2018-10-03  0.966667  5.833333   0.0   0.0  24.233333  17.566667
2018-10-04  0.800000  6.166667   0.0   0.0  24.233333  17.200000
2018-10-05  1.033333  0.333333   0.0   0.0  23.133333  16.300000
2018-10-06  0.833333  0.333333   0.0   0.0  22.033333  16.300000
2018-10-07  1.066667  0.000000   0.0   0.0  22.600000  17.400000

In [26]:
central_park_weather['2018-10-01':'2018-10-07'].rolling('3D').agg(
    {'TMAX': 'max', 'TMIN': 'min', 'AWND': 'mean', 'PRCP': 'sum'}
).join( # join with original data for comparison
    central_park_weather[['TMAX', 'TMIN', 'AWND', 'PRCP']], 
    lsuffix='_rolling'
).sort_index(axis=1) # sort columns so rolling calcs are next to originals

datatype,AWND,AWND_rolling,PRCP,PRCP_rolling,TMAX,TMAX_rolling,TMIN,TMIN_rolling
date,,,,,,,,
2018-10-01,0.9,0.900000,0.0,0.0,24.4,24.4,17.2,17.2
2018-10-02,0.9,0.900000,17.5,17.5,25.0,25.0,18.3,17.2
2018-10-03,1.1,0.966667,0.0,17.5,23.3,25.0,17.2,17.2
2018-10-04,0.4,0.800000,1.0,18.5,24.4,25.0,16.1,16.1
2018-10-05,1.6,1.033333,0.0,1.0,21.7,24.4,15.6,15.6
2018-10-06,0.5,0.833333,0.0,1.0,20.0,24.4,17.2,15.6
2018-10-07,1.1,1.066667,0.0,0.0,26.1,26.1,19.4,15.6

In [27]:
central_park_weather.loc['2018-06'].assign(
    total_prcp = lambda x: x.PRCP.cumsum(),
    avg_prcp = lambda x: x.PRCP.expanding().mean()
)[['PRCP', 'total_prcp', 'avg_prcp']].head(10).T

date,2018-06-01,2018-06-02,2018-06-03,2018-06-04,2018-06-05,2018-06-06,2018-06-07,2018-06-08,2018-06-09,2018-06-10
datatype,,,,,,,,,,
PRCP,6.9,2.00,6.4,4.10,0.00,0.000000,0.000000,0.000,0.000000,0.30
total_prcp,6.9,8.90,15.3,19.40,19.40,19.400000,19.400000,19.400,19.400000,19.70
avg_prcp,6.9,4.45,5.1,4.85,3.88,3.233333,2.771429,2.425,2.155556,1.97

In [28]:
central_park_weather.loc['2018-10-01':'2018-10-07'].expanding().agg(
    {'TMAX' : np.max, 'TMIN' : np.min, 'AWND' : np.mean, 'PRCP' : np.sum}
).join(
    central_park_weather[['TMAX', 'TMIN', 'AWND', 'PRCP']], lsuffix='_expanding'
).sort_index(axis=1)

datatype,AWND,AWND_expanding,PRCP,PRCP_expanding,TMAX,TMAX_expanding,TMIN,TMIN_expanding
date,,,,,,,,
2018-10-01,0.9,0.900000,0.0,0.0,24.4,24.4,17.2,17.2
2018-10-02,0.9,0.900000,17.5,17.5,25.0,25.0,18.3,17.2
2018-10-03,1.1,0.966667,0.0,17.5,23.3,25.0,17.2,17.2
2018-10-04,0.4,0.825000,1.0,18.5,24.4,25.0,16.1,16.1
2018-10-05,1.6,0.980000,0.0,18.5,21.7,25.0,15.6,15.6
2018-10-06,0.5,0.900000,0.0,18.5,20.0,25.0,17.2,15.6
2018-10-07,1.1,0.928571,0.0,18.5,26.1,26.1,19.4,15.6

In [29]:
central_park_weather.assign(
    AVG=lambda x: x.TMAX.rolling('30D').mean(),
    EWMA=lambda x: x.TMAX.ewm(span=30).mean()
).loc['2018-09-29':'2018-10-08', ['TMAX', 'EWMA', 'AVG']].T

date,2018-09-29,2018-09-30,2018-10-01,2018-10-02,2018-10-03,2018-10-04,2018-10-05,2018-10-06,2018-10-07,2018-10-08
datatype,,,,,,,,,,
TMAX,22.200000,21.100000,24.400000,25.000000,23.300000,24.400000,21.700000,20.000000,26.100000,23.300000
EWMA,24.410887,24.197281,24.210360,24.261304,24.199285,24.212234,24.050154,23.788854,23.937960,23.896802
AVG,24.723333,24.573333,24.533333,24.460000,24.163333,23.866667,23.533333,23.070000,23.143333,23.196667

- Find which quarter had the most rain from the daily precipitation data.


```
dp = weather.query('datatype == "PRCP"').groupby(level=0).mean()
```

In [30]:
import numpy as np
import pandas as pd

fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True).assign(
    trading_volume=lambda x: pd.cut(x.volume, bins=3, labels=['low', 'med', 'high']) #volume 범주화
)
fb.head()

              open    high       low   close    volume trading_volume
date
2018-01-02  177.68  181.58  177.5500  181.42  18151903            low
2018-01-03  181.88  184.78  181.3300  184.67  16886563            low
2018-01-04  184.90  186.21  184.0996  184.33  13880896            low
2018-01-05  185.59  186.90  184.9300  186.85  13574535            low
2018-01-08  187.20  188.90  186.3300  188.28  17994726            low

In [31]:
weather = pd.read_csv('data/weather_by_station.csv', index_col='date', parse_dates=True)  #station 데이터
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039    0.0           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US

In [32]:
dp = weather.query('datatype == "PRCP"').groupby(level=0).mean()
dp.head()

                value
date
2018-01-01   0.000000
2018-01-02   0.000000
2018-01-03   0.000000
2018-01-04   4.916071
2018-01-05  12.303571

In [36]:
dp.groupby(pd.Grouper(freq='Q')).sum().nlargest(1, 'value')

                value
date
2018-09-30  546.51838

- Assign ‘quarterly total precipitation’ and ‘number of days in a month’ variables to daily precipitation data.

In [43]:
weather.assign(
    quarterly_total_prcp = dp.groupby(pd.Grouper(freq='Q')).transform(np.sum),
    days_in_the_month = dp.groupby(pd.Grouper(freq='M')).value.transform('count')
).head()

,datatype,station,value,station_name,quarterly_total_prcp,days_in_the_month
date,,,,,,
2018-01-01,PRCP,GHCND:US1CTFR0039,0.0,"STAMFORD 4.2 S, CT US",364.885769,31
2018-01-01,PRCP,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",364.885769,31
2018-01-01,SNOW,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",364.885769,31
2018-01-01,PRCP,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US",364.885769,31
2018-01-01,SNOW,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US",364.885769,31

- Calculate rolling 3day mean precipitation

In [59]:
dp.assign(
    value_rolling3D = lambda x: x.value.rolling('3D').mean()
).head(10)

                value  value_rolling3D
date
2018-01-01   0.000000         0.000000
2018-01-02   0.000000         0.000000
2018-01-03   0.000000         0.000000
2018-01-04   4.916071         1.638690
2018-01-05  12.303571         5.739881
2018-01-06   0.032857         5.750833
2018-01-07   0.000000         4.112143
2018-01-08   0.100000         0.044286
2018-01-09   0.302740         0.134247
2018-01-10   0.000000         0.134247

- Use pivot_table to produce the same result as below.

In [49]:
pd.crosstab(   #.crosstab() 으로 빈도표 만들기
    index=fb.trading_volume,   #그룹화
    columns=fb.index.month,    #날짜를 월별로 그룹화
    colnames=['month'] # name the columns index  열 인덱스 이름이 필요
)

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

In [58]:
fb.pivot_table(
    index=fb.trading_volume,
    columns=fb.index.month,
    values='volume',
    aggfunc = 'count'
)

date            1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

- Open ch4, '4-time_series.ipynb' and practice the codes (optional).